.wrapper {
  border: solid 0.01px black;
  display: flex;
  padding-top: 50px;
  height: 100%;
  border-radius: 15px;
  justify-content: space-around;
  align-content: flex-start;
  flex-flow: row wrap;
  background: lightblue;
  overflow: auto;
  padding: 20px;
  
}
