
.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 12px;
  background:whitesmoke;
  
}
    .card {
      height: 200px;
      position: relative;
      width: 325px;
      box-shadow: 0 3px 6px #999, 0 3px 6px #999;
      margin: 1rem;
      border-radius: 12px;
      text-align: left;
    }
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}






