

.title {
  text-align: center;
  color: rgb(2, 110, 250);
  font-family: 'Times New Roman', Times, serif;
  font-size: 40pt;
}
            .header {
              margin-bottom: 10.01px;
              width: 100%;
              font-size: 2rem;
              color: lightskyblue;
            }

.scores {
  text-align: center;
  color: red;
}
